/* PC用のCSSはメディアクエリの外に記述する */

.container {
    position: fixed;
    top: 16rem;
    left: 50%;
    transform: translate(-50%);
    background-color: #dcdcdc;
    padding: 2rem;
    text-align: left;
    width: 80%;
    max-width: 600px;
    max-height: 90vh;
    overflow-y: auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: -1rem;
}

/* aaaa */

.send-button {
    width: min-content;
    background-color: #8b4513;
    color: white;
    padding: 0.3rem 0.8rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 1rem auto 0;
}

.in-send-button {
    background-color: #8b4513;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}


.page-header {
    position: fixed;
    top: 13rem;
    /* Adjusted to be just below header */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    z-index: 1001;
}

.field {
    width: 90%;
}

@media screen and (max-width: 959px) {
    /* 959px以下に適用されるCSS（タブレット用） */


}

@media screen and (max-width: 480px) {
    /* 480px以下に適用されるCSS（スマホ用） */

}