body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header,
footer {
    background-color: #ae5123;
    /* Slightly darker light brown */
    color: white;
    text-align: center;
    padding: 1rem;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    padding-top: 25px;
    padding-bottom: 17px;
}

header h1 {

    font-size: 2rem;
}

.button-container {
    display: flex;
    background-color: #8b4513;
    /* dark brown */
    color: white;
    width: 100%;
    position: fixed;
    top: 4rem;
    /* header height */
    z-index: 900;
    padding-top: 1.2rem;
}

.button-box {
    flex: 1;
    text-align: center;
    padding: 1rem 0;
    padding-top: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5rem;
}

.button-box:hover {
    background-color: chocolate;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
    padding-right: 20px;
}

main {
    margin-top: 8rem;
    /* Adjusted for the header and button container */
    padding: 1rem;
}